<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="home.css">-->
    <!-- <link rel="stylesheet" href="../../static/css/home.css"> -->
     <link rel="stylesheet" href="../css/home.css">
    <script src="https://kit.fontawesome.com/84b2e4f32b.js" crossorigin="anonymous"></script>
    <title>Contact</title>
</head>

<body>
<nav>
    <div class="wrapper">
        <div class="logo"><a href="#">FlashCash</a></div>
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li><a href="/home">Home</a></li>
            <li><a href="/User/profile">Profile</a></li>
            <li><a href="#">Transfers</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/logout" id="out">Log out</a></li>
        </ul>
        <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
</nav>

<main>
    <div class="Contact_container">
        <h2 class="Contact_title">Contact</h2>
        <ul class="Contact_responsive-table">
            <li class="Contact_li Contact_table-header">
<!--                <div class="Contact_col Contact_col-2 Contact_col_label">Name</div>-->
                <div class="Contact_col Contact_col-3 Contact_col_label">e-mail</div>
                <div class="Contact_col Contact_col-4 Contact_col_label">Transfer cash</div>
                <div class="Contact_col Contact_col-5 Contact_col_label"></div>
            </li>
            <li class="Contact_li Contact_table-row" th:each="email : ${linkList}">
<!--                <div class="Contact_col Contact_col-2" data-label="Name" th:text="{socialLinkForm.lastName}"></div>-->
                <div class="Contact_col Contact_col-3" data-label="email" th:text="${email}"></div>
                <div class="Contact_col Contact_col-4" data-label="transfer"><button class="Contact_button"><a class="Contact_link" href="/transfer">transfer</a></button></div>
                <div class="Contact_col Contact_col-5" data-label="delete"><button class="Contact_button_del">
                    <a class="Contact_link_del" th:href="@{/deleteLink/{email}(email=${email})}">delete</a></button></div>
            </li>
        </ul>
    </div>

    <div class="Contact_add">
        <button class="Contact_button_add"><a href="/addContact" class="Contact_link_add">Add new Contact</a></button>
    </div>





</main>

<footer>
    <div class="footer">
        <div class="Footer-block">
            <ul class="Footer-block-list">
                <li>
                    <div class="logo"><a href="#">FlashCash</a></div>
                </li>
                <li>
                    <a href="/serviceClient">Service client</a>
                </li>
            </ul>
            <ul class="Footer-block-list">
                <li>
                    <p>©Lorem ipsum</p>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>

</html>