<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="home.css">-->
    <!-- <link rel="stylesheet" href="../../static/css/home.css"> -->
     <link rel="stylesheet" href="../css/home.css">
    <script src="https://kit.fontawesome.com/84b2e4f32b.js" crossorigin="anonymous"></script>
    <title>Add IBAN</title>
</head>

<body>
<nav>
    <div class="wrapper">
        <div class="logo"><a href="#">FlashCash</a></div>
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li><a href="/home">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Transfers</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#" id="out">Log out</a></li>
        </ul>
        <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
</nav>

<main>
    <div class="body-text">
        <div class="title">Add an IBAN</div>
    </div>
    <form th:action="@{/addIban}" th:object="${ibanForm}" method="POST">
        <h1 class="title">Add your Iban</h1>
        <input type="text" th:field="*{iban1}" placeholder="Your IBAN" />

        <button type="submit">Add</button>
    </form>


</main>

<footer>
    <div class="footer">
        <div class="Footer-block">
            <ul class="Footer-block-list">
                <li>
                    <div class="logo"><a href="#">FlashCash</a></div>
                </li>
                <li>
                    <a href="#">Service client</a>
                </li>
            </ul>
            <ul class="Footer-block-list">
                <li>
                    <p>©Lorem ipsum</p>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>

</html>