<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="home.css">-->
    <!-- <link rel="stylesheet" href="../../static/css/home.css"> -->
        <link rel="stylesheet" href="../css/home.css">
    <script src="https://kit.fontawesome.com/84b2e4f32b.js" crossorigin="anonymous"></script>
    <title>My Profile</title>
</head>

<body>
<nav>
    <div class="wrapper">
        <div class="logo"><a href="#">FlashCash</a></div>
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li><a href="/home">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Transfers</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="logout" id="out">Log out</a></li>
        </ul>
        <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
</nav>

<main>
    <div class="body-text">
        <div class="title">My Profile</div>
    </div>
    <section class="Services">
        <div class="Services-card">
            <h3 class="Services-card-title1">Add cash to FlashCash</h3>
            <div class="Services-card-text">
                <p>Add cash with your credit card</p>
                <p>Free</p>
                <p>Instant deposit</p>
                <p>Fully secured</p>
            </div>
            <button class="Services-card-button"><a href="#">START</a></button>
        </div>

        <div class="Services-card">
            <h3 class="Services-card-title2">Transfer to your bank</h3>
            <div class="Services-card-text">
                <p>Instant transfer</p>
                <p>Free</p>
                <p>Worldwide</p>
                <p>Fully secured</p>
            </div>
            <button class="Services-card-button"><a href="#">START</a></button>
        </div>

        <div class="Services-card">
            <h3 class="Services-card-title3">Add an IBAN</h3>
            <div class="Services-card-text">
                <p>Add your IBAN here</p>
                <p>Free</p>
                <p>Any bank supported</p>
                <p>Fully secured</p>
            </div>
            <button class="Services-card-button"><a href="/addIban">START</a></button>
        </div>
    </section>

    <section class="AccountState">
        <h2 class="AccountState-title">My account balance</h2>
        <table class=" AccountState-table">
            <thead>
            <tr>
                <th class="AccountState-table-label">User</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:object="${user}">
                <td th:text="*{email}"></td>
                <td th:text="*{account.amount}"></td>
            </tr>
            </tbody>
        </table>
    </section>

    <section class="User-Iban">
        <h2 class="User-Iban-title">Your IBAN</h2>
        <p th:text="${user.account.iban1}"></p>
    </section>

</main>

<footer>
    <div class="footer">
        <div class="Footer-block">
            <ul class="Footer-block-list">
                <li>
                    <div class="logo"><a href="#">FlashCash</a></div>
                </li>
                <li>
                    <a href="#">Service client</a>
                </li>
            </ul>
            <ul class="Footer-block-list">
                <li>
                    <p>©Lorem ipsum</p>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>

</html>